/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.moreInfoSection {
  margin-top: 7px;
  margin-bottom: 12px;
}

.moreInfoLabel,
.moreInfoWideLabel {
  display: inline-block;
  width: 120px;
  color: var(--grey-50);
}

.moreInfoLargeContent {
  overflow: scroll;
  height: 100px;
  overflow-wrap: anywhere;
}

.moreInfoWideLabel {
  width: 140px;
}

.visualMetricsLabel {
  display: inline-block;
  width: 145px;
  color: var(--grey-50);
}

.moreInfoList {
  padding: 0;

  /* Explanations about this margin line:
   * - we need to reset it anyway, because we need to remove the default style
   *   for <ul> tags.
   * - -19px moves the list up, next to the label.
   * - 122px is 120px (the width of the label) + a few pixels so that this looks
   *   better.
   */
  margin: -19px 0 0 122px;
  list-style: circle inside;
}

.moreInfoListRow + .moreInfoListRow {
  margin-top: 7px;
}

.moreInfoSubTitle {
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid rgb(0 0 0 / 0.05);
  margin: 0;
  font-size: 1.2em;
  font-weight: 700;
}

.moreInfoContent {
  overflow: scroll;
  max-height: calc(100vh - 100px);
  padding: 16px;
  background-color: white;
  border-radius: 5px;
}

.moreInfoContainer {
  width: 800px;
  margin: auto;
  background: hsl(0deg 0% 97%/0.95);
  background-color: white;
  border-radius: 5px;
  filter: url(../../../../res/img/svg/shadowfilter.svg#menushadow);
  font-size: 12px;
  line-height: 20px;
  opacity: 100%;
  vertical-align: center;
}

@media screen and (max-width: 800px) {
  .moreInfoContainer {
    width: 100%;
  }
}

.moreInfoContainerVoid {
  position: absolute;
  z-index: 1000;
  left: 0;
  width: 100%;
  height: calc(100vh - var(--more-info-padding-top));
  padding-top: var(--more-info-padding-top);
  background-color: var(--grey-90-a10);

  --more-info-padding-top: 25px;
}
