/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.tooltipCallNodeImplementation,
.tooltipCallNodeCategory {
  display: grid;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--grey-30);
  grid-gap: 2px;
  grid-template-columns: repeat(4, min-content);
}

.tooltipCallNodeHeader {
  padding: 0 5px;
  border-right: 1px solid var(--grey-30);
  margin-top: 5px;
  color: var(--grey-50);
  white-space: nowrap;
}

.tooltipCallNodeHeaderRight {
  padding: 0 5px;
  margin-top: 5px;
  color: var(--grey-50);
  white-space: nowrap;
}

.tooltipCallNodeName {
  white-space: nowrap;
}

.tooltipCallNodeGraph {
  position: relative;
  width: var(--graph-width);
  height: var(--graph-height);
  margin-top: 2px;
  background-color: var(--grey-30);
  border-radius: 2px;

  --running-color: var(--blue-40);
  --self-color: var(--blue-60);
}

.tooltipCallNodeGraphRunning {
  height: var(--graph-height);
  background-color: var(--running-color);
  border-radius: 2px;
}

.tooltipCallNodeGraphSelf {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--graph-height);
  background-color: var(--self-color);
  border-radius: 2px;
}

.tooltipCallNodeCategory .tooltipCallNodeGraphRunning {
  filter: brightness(170%) contrast(90%) saturate(90%);
}

/* used for hard to lighten color */
.tooltipCallNodeCategory .tooltipCallNodeGraphRunning.outlineBorder {
  outline: #3c3c3c solid 1px;
  outline-offset: -1px;
}

.tooltipCallNodeTiming {
  padding: 0 5px;
  text-align: right;
  white-space: nowrap;
}

.tooltipCallNodeHeaderSwatchRunning,
.tooltipCallNodeHeaderSwatchSelf {
  display: inline-block;
  width: 9px;
  height: 9px;
  box-sizing: border-box;
  border: 0.5px solid rgb(0 0 0 / 0.1);
  margin-right: 3px;
}

.tooltipCallNodeHeaderSwatchRunning {
  background-color: var(--blue-40);
}

.tooltipCallNodeHeaderSwatchSelf {
  background-color: var(--blue-60);
}

.tooltipCallNodeCategory .tooltipCallNodeHeaderSwatchSelf,
.tooltipCallNodeCategory .tooltipCallNodeHeaderSwatchRunning {
  display: none;
}

.tooltipCallNodeDetailsLeft {
  min-width: 150px;
  padding: 10px;
  padding-bottom: 5px;
}

.tooltipCallNodeGraph.tooltipCategoryRow {
  height: calc(var(--graph-height) * 1.2);
}

.tooltipCallNodeGraph.tooltipCategoryRow .tooltipCallNodeGraphRunning,
.tooltipCallNodeGraph.tooltipCategoryRow .tooltipCallNodeGraphSelf {
  height: calc(var(--graph-height) * 1.2);
}

.tooltipCategoryRow {
  margin-top: 8px;
  font-weight: bold;
}

.tooltipCategoryLabel {
  padding-left: 3px;
  margin-top: 8px;
  font-weight: bold;
}
